* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image:url('./images/goldengate-hq.jpg');
	background-repeat: repeat-y;
	background-size: 100%;

}

.container {
	background-color: #354242;
}

.panel {
	background-color: #7FAD80;
}

.page-header h1 {
	color: white;

}

.page-header h1 small {
	color: orange;
}